/* src/Home.css */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: #0d1117;
  color: #c9d1d9;
  text-align: center;
}

.home-container h1 {
  font-size: 3rem;
  color: #f0f6fc;
}

.home-container p {
  font-size: 1.2rem;
  color: #8b949e;
}
